* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f0f0f0;
}

header {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2E7D32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 8em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    background-color: #1B5E20; /* Color after scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 15px;
    margin-left: 25px;
}

.text-container {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 5px;
}

.subtitle {
    font-size: 1rem;
    color: white;
    font-style: italic;
    margin-top: 0.5em;
}

nav {
    height: 6em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-top: 1.9em;
    margin-left: 50px;
    margin-right: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#brngy_id_header{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 50px;
    padding: 45px 0;
    text-align: center;
    color: #2E7D32; 
}

/*Under is all the CSS for Hamburger*/
.ham-menu {
    display: none;
    margin: none;
}

.off-screen-menu {
    display: none;
    margin: none;
}

@media (max-width: 1024px) {
    section, nav, footer {
        overflow: hidden;
    }
    
    .off-screen-menu {
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 100vh;
        width: 100%;
        max-width: 200px;
        position: fixed;
        top: 0;
        right: -480px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        font-size: 5rem;
        transition: .3s ease;
        z-index: 1;
    }

    .off-screen-menu.active {
        right: 0;
    }

    .off-screen-menu ul {
        list-style: none;
        color: #2E7D32;
        text-decoration: none;  
        margin-top: 10vh;
    }

    .off-screen-menu ul a {
        color: #2E7D32;
        text-decoration: none;
        font-size: 25px;
        line-height: 5vh;
        margin-right: auto;
        margin-top: 4vh;
    }

    .off-screen-menu ul a:hover {
        text-decoration: underline;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        z-index: 2;
        margin-right: 2px;
        display: flex;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu.active span {
        background-color: #2E7D32;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%
    }

    nav ul li a,
    nav ul li,
    nav ul,
    nav {
        display: none;
        margin: none;
    }

    .logo,
    .logo img {
        height: 60px;
        margin-right: 5px;
        margin-left: 2px;
    }

    .title {
        font-size: 1.0rem;
    }
    
    .subtitle {
        font-size: 0.2rem;
    }
}

/*Adaptive Footers*/
@media (max-width: 425px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-contents ul li a {
        margin-right: auto;
        margin-left: auto;
    }

    .footer-middle-contents ul li:not(:last-child)::after,
    .footer-middle-contents ul li a {
        display: none;
        margin: none;
    }

    .upper-footer-contents img {
        height: 75px;
        margin-right: 10px;
        margin-left: 15px;
    }
    
    .upper-footer-contents h1 {
        font-size: 37px;
    }

    .footer-bottom-contents p {
        font-size: 13px
    }
}

/*Weird fix for Big Screen*/
@media (min-height: 1774px) {
    footer {
        margin-top: 0;
        bottom: -38vh;
    }

    .logo img {
        height: 110px;
    }

    .title {
        font-size: 2.2rem;
    }
    
    .subtitle {
        font-size: 1.4rem;
    }

    nav ul li a {
        font-size: 40px;
    }
}
