* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2E7D32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 8em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: sticky;
}

header.scrolled {
    background-color: #1B5E20; /* Color after scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 15px;
    margin-left: 25px;
}

.text-container {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 5px;
}

.subtitle {
    font-size: 1rem;
    color: white;
    font-style: italic;
    margin-top: 0.5em;
}

nav {
    height: 6em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-top: 1.9em;
    margin-left: 50px;
    margin-right: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;    
}

.contact_container {
  height: 100vh;
  flex: 1;
}

.contact_us_green * {
    font-family: Nunito, sans-serif;
  }
  
  .contact_us_green .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  
  .contact_us_green input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_green textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_green .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us_green .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_green .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  
  .contact_us_green .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  
  .contact_us_green .text-blk.contactus-head {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -20px;
    margin-left: 0px;
  }
  
  .contact_us_green .text-blk.contactus-subhead {
    max-width: 385px;
    color: #939393;
    font-size: 25px;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }


  
  .contact_us_green .contact-svg {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 65px;
    height: 40px;
  }
  
  .contact_us_green .social-media-links {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact_us_green .social-svg {
    width: 35px;
    height: 35px;
  }
  
  .contact_us_green .text-box {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_green .contact-text {
    color: #939393;
  }
  
  .contact_us_green .input {
    height: 50px;
    width: 90%;
    border-top-width: 2.5px;
    border-right-width: 2.5px;
    border-bottom-width: 2.5px;
    border-left-width: 2.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  
  .contact_us_green .textinput {
    height: 200px;
    width: 95%;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  
  .contact_us_green .submit-btn {
    min-width: 290px;
    height: 60px;
    background-color: #1c3b28;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #094e0d;
  }
  
  .contact_us_green .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .contact_us_green .text-blk.input-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact_us_green .head-text-box {
    display: none;
  }
  
  .contact_us_green .line {
    border-right-width: 1.8px;
    border-right-style: solid;
    border-right-color: #a2a2a2;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  @media (max-width: 1024px) {
    .contact_us_green .responsive-container-block.container {
      justify-content: center;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      max-width: 90%;
    }
  
    .contact_us_green .head-text-box {
      display: block;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 60px;
      padding-left: 0px;
    }
  
    .contact_us_green .line {
      border-right-width: initial;
      border-right-style: none;
      border-right-color: initial;
      border-bottom-width: 1.8px;
      border-bottom-style: solid;
      border-bottom-color: #a2a2a2;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: flex;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us_green .text-content {
      display: none;
    }
  
    .contact_us_green .input {
      width: 100%;
    }
  
    .contact_us_green .textinput {
      width: 100%;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_green .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: block;
    }
  
    .contact_us_green .text-blk.input-title {
      font-size: 16px;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 26px;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      font-size: 16px;
      line-height: 23px;
    }
  
    .contact_us_green .input {
      height: 45px;
    }
  
    .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin: 0 0 25px 0;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.workik-contact-bigbox{
    margin-top: 60px;
    font-size: 25px;
}

footer {
  background-color: #2E7D32;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: auto;  /* Pushes the footer to the bottom */
}

/* Optional: Additional styling for responsiveness */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contents ul {
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-contents ul li {
  list-style: none;
  margin: 0 10px;
}

.footer-contents ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  border-radius: 50%;
  padding: 6px;
  margin-right: 50px;
  margin-left: 70px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
}

.footer-contents ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.footer-contents ul li a .fab, 
.footer-contents ul li a .fas {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.footer-contents ul li:nth-child(1) a:hover .fab {
  color: #3b5998; /* Facebook */
}

.footer-contents ul li:nth-child(2) a:hover .fab {
  color: #00aced; /* Twitter */
}

.footer-contents ul li:nth-child(3) a:hover .fas {
  color: #ea4335; /* Email (Red) */
}

.footer-contents ul li:nth-child(4) a:hover .fab {
  color: #e4405f; /* Instagram (Pink) */
}

.footer-middle-contents ul {
  list-style: none;
  display: flex;
  gap: 15px; 
  padding: 0;
  margin: 0;
}

.footer-middle-contents ul li {
  position: relative;
}

.footer-middle-contents ul li:not(:last-child)::after {
  content: "|"; /* Separator */
  font-size: 20px;
  margin-left: 15px; 
  color: white;
}

.footer-middle-contents ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 0; 
}

.footer-middle-contents ul li a:hover {
  text-decoration: underline;
}

.footer-bottom-container {
  background-color: #1B5E20; 
  width: 100%; 
  height: 50px;
  text-align: center; 
  margin: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer-bottom-contents{
  margin-top: 15px;
}

.upper-footer-contents img {
  height: 150px;
  margin-top: 30px;
  vertical-align: bottom;
  position: relative;
  width: 150px;
}

@media (max-width: 425px) {
  .upper-footer-contents img {
      height: 75px;
      width: 75px;
  }
}

.upper-footer-contents h1 {
  margin-top: 30px;
  margin-right: 30px;
  font-size: 60px;
  text-align: left;
  width: 200px;
}

.upper-footer-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

/*Under is all the CSS for Hamburger*/
.ham-menu {
  display: none;
  margin: none;
}

.off-screen-menu {
  display: none;
  margin: none;
}

@media (max-width: 1024px) {
  section, nav, footer {
      overflow: hidden;
  }
  
  .off-screen-menu {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: -480px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-size: 5rem;
    transition: .3s ease;
    z-index: 1;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    list-style: none;
    color: #2E7D32;
    text-decoration: none;  
    margin-top: 10vh;
}

.off-screen-menu ul a {
    color: #2E7D32;
    text-decoration: none;
    font-size: 25px;
    line-height: 5vh;
    margin-right: auto;
    margin-top: 4vh;
}

  .off-screen-menu ul a:hover {
      text-decoration: underline;
  }

  .ham-menu {
      height: 50px;
      width: 50px;
      margin-left: auto;
      position: relative;
      z-index: 2;
      margin-right: 2px;
      display: flex;
  }

  .ham-menu span {
      height: 5px;
      width: 100%;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .3s ease;
  }

  .ham-menu.active span {
      background-color: #2E7D32;
  }

  .ham-menu span:nth-child(1) {
      top: 25%;
  }

  .ham-menu span:nth-child(3) {
      top: 75%
  }

  nav ul li a,
  nav ul li,
  nav ul,
  nav {
      display: none;
      margin: none;
  }

  .logo,
  .logo img {
      height: 60px;
      margin-right: 5px;
      margin-left: 2px;
  }

  .title {
    font-size: 1.6rem;
}

.subtitle {
    font-size: 0.8rem;
}
}

/*Adaptive Footers*/
@media (max-width: 425px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }

  .footer-contents ul li a {
      margin-right: auto;
      margin-left: auto;
  }

  .footer-middle-contents ul li:not(:last-child)::after,
  .footer-middle-contents ul li a {
      display: none;
      margin: none;
  }

  .upper-footer-contents img {
      height: 75px;
      margin-right: 10px;
      margin-left: 15px;
  }
  
  .upper-footer-contents h1 {
      font-size: 37px;
  }

  .footer-bottom-contents p {
      font-size: 13px
  }
}

/*Weird fix for Big Screen*/
@media (min-height: 1774px) {
  footer {
      margin-top: 0;
      bottom: -38vh;
  }

  .logo img {
      height: 110px;
  }

  .title {
      font-size: 2.2rem;
  }
  
  .subtitle {
      font-size: 1.4rem;
  }

  nav ul li a {
      font-size: 40px;
  }
}

/*copy start from here*/
/*Adaptive Footers*/
@media (max-width: 425px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
      justify-content: center;
  }

  .footer-contents ul li a {
      margin-right: auto;
      margin-left: auto;
  }

  .footer-middle-contents ul li:not(:last-child)::after,
  .footer-middle-contents ul li a {
      display: none;
      margin: none;
  }

  .upper-footer-contents img {
      height: 75px;
      margin-right: 0px;
      margin-left: 30px;
  }
  
  .upper-footer-contents h1 {
      font-size: 37px;
  }

  .footer-bottom-contents > p {
      font-size: 13px;
  }
}

@media (min-height: 1212px) {
  .footer-bottom-contents p {
      font-size: 20px;
  }
}
/* copy up to here */

@media (max-width: 320) {
  .upper-footer-contents img {
      margin-left: 0px;
  }
}

/*Weird fix for Big Screen*/
@media (min-height: 1774px) {
  .logo img {
      height: 110px;
  }

  .title {
      font-size: 2.2rem;
  }
  
  .subtitle {
      font-size: 1.4rem;
  }

  nav ul li a {
      font-size: 40px;
  }
}

